body {
  background-color: black;
  color: white;
  overflow-x: hidden;
}
* {
  max-width: 100% !important;
  box-sizing: border-box;
}

.divider {
  color: dodgerblue;
  width: 50%;
  height: 1%;
  background-color: dodgerblue;
}
/* Navbar */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.8),
    rgba(0, 0, 0, 0.2)
  );
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  box-sizing: border-box;
}
.navbar a {
  width: fit-content;
}
.navbar h2 {
  position: relative;
  font-weight: bold;
  margin-left: 15px;
  cursor: pointer;
  transition: color 0.3s;
  width: fit-content;
}

.navbar h2:hover {
  color: dodgerblue;
  animation: shake 0.5s ease;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-3px);
  }
  100% {
    transform: translateX(3px);
  }
}
/* Intro Section */
#intro-section {
  display: flex;
  margin-top: 100px;
  margin-bottom: 300px;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}
.intro-body {
  width: 25%;
  height: fit-content;
  background: black; /* Semi-transparent white background */
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1),
    inset 0 0 20px rgba(255, 255, 255, 0.5); /* Box shadow and inner shadow */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Added box-shadow transition */
  margin-bottom: 20px;

  opacity: 0;
  transform: translateY(50px);
  animation: fadeInSlideAnimation 3s ease-in-out forwards;
}

.intro-body:hover {
  transform: translateY(40px); /* Adjust translateY value */
}
.null {
  opacity: 0;
  left: -500%;
}
@keyframes fadeInSlideAnimation {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.intro-body p {
  margin: 0;
  padding: 0;
  font-size: 16px;
  margin-bottom: 10px;
  color: grey;
  font-size: 1.25em;
}

@keyframes fadeInSlideAnimation {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

#portrait {
  border-radius: 125px;
  background-color: black;
  opacity: 0;
  transform: translateZ(-100px);
  animation: slideInAnimation 1s ease-in-out forwards;
  margin-right: 2%;
}

@keyframes slideInAnimation {
  from {
    opacity: 0;
    transform: translateZ(-100px);
  }
  to {
    opacity: 1;
    transform: translateZ(0);
  }
}

.skills-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  opacity: 0;
  transform: translateX(-200%);
  animation: slideInFromLeft 1s forwards;
}

@keyframes slideInFromLeft {
  0% {
    opacity: 0;
    transform: translateX(200%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

#skills-container {
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.skills-container ul {
  padding: 0;
  list-style-type: none;
}

.skills-container ul li {
  margin-bottom: 5%;

  color: grey;
  font-style: oblique;
}

#project-section-container {
  margin-top: 250px;
  margin-bottom: 250px;
}
#project-section {
  margin-top: 30px;
  display: flex;
  justify-content: left;
  margin-left: 30px;
}
#project-section ul {
  list-style: none;
  flex-wrap: wrap;
  display: inline;
}
#project-section li {
  display: inline;
  margin-right: 10px;
}
.project-card {
  border-radius: 5px;
  width: 450px;
  height: 200px;
  border: 2px solid grey;
}
.outer-scrolling-container {
  display: flex;
  justify-content: center;
  margin-bottom: 200px;
}
.scrolling-container {
  width: 50%;
  overflow: hidden;
}

.scrolling-paragraph {
  white-space: nowrap;
  animation: scrollAnimation 40s linear infinite;
  font-size: 30px;
  color: grey;
}

@keyframes scrollAnimation {
  0% {
    transform: translateX(-300%);
  }
  100% {
    transform: translateX(0%);
  }
}
a {
  position: relative;
  text-decoration: none;
  color: inherit;
  padding: 5px;
  cursor: pointer;
}

a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0;
  height: 2px;
  background-color: dodgerblue;
  transition: width 0.3s ease;
}

a:hover::after {
  width: 100%;
}
.project-card {
  position: relative;
  display: inline-block;
  overflow: hidden;
  margin-bottom: 10px;
  opacity: 0; /* Start with opacity 0 */
  animation: slideInAnimation 1s forwards; /* Animation to slide in */
}

.project-card img {
  display: block;
  width: 100%;
  height: auto;
  transition: filter 0.3s ease;
}

.project-card .project-description {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease;
  color: white;
}

.project-card:hover img {
  filter: brightness(50%);
}

.project-card:hover {
  border-color: dodgerblue;
}

.project-card:hover .project-description {
  opacity: 1;
  color: white;
}

@keyframes slideInAnimation {
  from {
    opacity: 0; /* Start with opacity 0 */
    transform: translateX(-250%); /* Start position */
  }
  to {
    opacity: 1; /* End with opacity 1 */
    transform: translateX(0); /* End position */
  }
}

#footer {
  margin-top: 10px;
  width: 100vw;
  height: fit-content;
  background-color: #222;
}

#footer-list-container {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

#end-message-container {
  display: flex;
  justify-content: center;
}
#end-message-container p {
  margin-bottom: 30px;
}
#footer ul {
  list-style: none;
  padding: 0px;
}
#footer li {
  margin-top: 10px;
}
#send-email-container {
  height: fit-content;
  width: 100%;
  display: flex;
  padding: 5px;
  justify-content: center;
}
#send-email-container a {
  margin-top: 20px;
  display: inline-block;
  border: 2px solid grey;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  width: fit-content;
}

#send-email-container a:hover {
  border: 2px solid dodgerblue;
}
#project-section-outer-container {
  position: relative;
  z-index: 1; /* Place the content in front of the video */
}
.vertical-line {
  border-right: 2px solid dodgerblue; /* Adjust thickness and color as needed */
  height: 425px; /* Adjust height as needed */
  padding: 20px;
}
#project-header {
  margin-right: 50px;
  display: flex;
}
#hammer-icon {
  margin-left: 5px;
}
#skills-header-container {
  display: flex; /* Use flexbox */
  align-items: center; /* Align items vertically */
  cursor: pointer;
  width: fit-content;
}

#skills-description {
  opacity: 0;
  transform: translateX(-20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
  color: dodgerblue;
  /* Initially hide the element */
  visibility: hidden;
  margin-left: 5px;
}

#skills-header-container:hover #skills-description {
  opacity: 1;
  transform: translateX(0);
  color: dodgerblue;
  /* Ensure the element is visible when hovered */
  visibility: visible;
}
#skills-header-container:not(:hover) #skills-description {
  opacity: 0; /* Hide when not hovered */
  transition: opacity 0.5s ease, transform 0.5s ease;
  transform: translateX(-20px);
  visibility: hidden;
}
#rocket {
  color: dodgerblue;
}

#education-section-container {
  width: 100%;
}

#education-section-title-container {
  display: flex;
  justify-content: center;
}

#education-section-title-container h2 {
  font-size: 24px; /* Adjust font size */
  color: white; /* Text color */
  text-transform: uppercase; /* Convert text to uppercase */
  animation: fadeInUp 1s ease; /* Add animation */
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px); /* Move title down */
  }
  100% {
    opacity: 1;
    transform: translateY(0); /* Move title up */
  }
}

#education-section-blocks-container {
  display: flex;
  justify-content: center;
  gap: 20px; /* Adjust the gap between blocks */
  opacity: 0;
  transition: opacity 2s ease; /* Smooth transition */
  animation: fadeInAnimation 2s ease forwards; /* Animation to fade in */
  margin-bottom: 20%;
}

@keyframes fadeInAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#education-section-blocks-container.visible {
  opacity: 1;
}

.education-list {
  display: flex;
  justify-content: center; /* Center items horizontally */
  padding: 0;
  margin: 0;
  list-style-type: none; /* Remove bullet points */
  justify-content: space-evenly;
}

.education-list-item {
  width: 25%;
  height: 100%;
  background: black; /* Semi-transparent white background */
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1),
    inset 0 0 20px rgba(255, 255, 255, 0.5); /* Box shadow and inner shadow */
  transition: transform 0.3s ease;
  margin-bottom: 20px;
}

.education-list-item:hover {
  transform: translateY(-5px); /* Move block up slightly on hover */
}

.education-header {
  color: dodgerblue; /* Header color */
  margin-bottom: 10px; /* Margin below header */
}

.education-paragraph {
  color: white; /* Paragraph color */
  font-size: 1.25em;
}

.certifications-list {
  padding: 0;
  margin: 0;
  list-style-type: none; /* Remove bullet points */
}

.certifications-list li {
  padding: 5px 0; /* Vertical padding */
  color: white;
  font-size: 1.25em;
}

#skills-lists-container {
  width: 40vw;
  background: black; /* Semi-transparent white background */
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1),
    inset 0 0 20px rgba(255, 255, 255, 0.5); /* Box shadow and inner shadow */
  transition: transform 0.3s ease;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-evenly;
}

#skills-lists-container:hover {
  transform: scale(1.05); /* Scale up by 5% on hover */
}

/* For screens smaller than 768px (typical phone portrait mode) */
@media only screen and (max-width: 700px) {
  body {
    overflow-x: hidden;
    max-width: 100vw !important;
  }

  .navbar {
    padding: 5px; /* Decrease padding for the navbar */
    width: 100%;
    height: fit-content;
  }
  #intro-section {
    margin-bottom: 100px; /* Decrease bottom margin */
  }

  #portrait {
    height: fit-content;
    width: 30%;
    margin-bottom: 5%;
  }

  .intro-body {
    width: 80%; /* Adjust width to fit smaller screens */
    margin-right: 0; /* Remove right margin */
    font-size: small;
  }
  .skills-container {
    flex-direction: column; /* Stack skills vertically */
    align-items: center;
  }

  #skills-lists-container {
    width: 80%;
    height: auto;
    font-size: small;
  }

  #skills-lists-container:hover {
    transform: none; /* Disable scaling on hover */
  }
  .education-list {
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center items horizontally */
  }

  .education-list-item {
    width: 80%; /* Adjust item width to fit screen width */
    margin: 10px 0; /* Vertical spacing between items */
  }
  #project-header {
    margin-right: 0;
  }
  .vertical-line {
    border-bottom: 2px solid black;
    border-right: 2px solid black; /* Adjust thickness and color as needed */
    height: auto;
    width: auto;
    padding: 20px;
    justify-content: left !important;
    text-align: left !important;
    align-items: center !important; /* Center horizontally */
    display: flex !important;
    flex-direction: column !important;
  }
  #project-section {
    flex-direction: column;
    width: 100%;
    margin: 0; /* Remove left margin */
    align-items: center !important;
    justify-content: center !important;
    display: flex;
  }
  #project-section-list {
    padding: 0;
    width: 100%;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    display: flex;
  }
  .project-card {
    width: 85%;
    height: fit-content;
  }

  #footer {
    width: 100%;
    height: fit-content;
  }
  #footer-list-container {
    justify-content: space-between;
  }
  #send-email-container a {
    font-size: 60%;
  }
  #contact-container {
    font-size: 50%;
  }
  #socials-container {
    font-size: 50%;
  }
  #community-container {
    font-size: 50%;
  }
}

#committedTo-section-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: center;

  width: 100%;
}
#committedTo-section-container h1 {
  text-align: center;
}
.committedTo-card {
  background: black; /* Semi-transparent white background */
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1),
    inset 0 0 20px rgba(255, 255, 255, 0.5); /* Box shadow and inner shadow */
  margin-bottom: 5%;
  font-size: 1rem;
  width: 80%;
  height: fit-content;
  opacity: 0; /* Initially set opacity to 0 */
  transform: translateY(20px); /* Initially move block down */
  animation: fadeAndMoveUp 0.5s ease forwards; /* Apply animation */
  /* box-sizing: border-box; */
}

@keyframes fadeAndMoveUp {
  from {
    opacity: 0; /* Start with opacity 0 */
    transform: translateY(20px); /* Start slightly below */
  }
  to {
    opacity: 1; /* End with opacity 1 */
    transform: translateY(0); /* Move up to its original position */
  }
}

.committedTo-card:hover {
  transform: translateY(-5px); /* Move block up slightly on hover */
}
form {
  color: black important;
}
