body {
  background-color: black;
  color: white;
}
/* Navbar */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  margin-bottom: 10px;
}
.navbar h2 {
  position: relative;
  font-weight: bold;
  margin-left: 15px;
}
/* Intro Section */
#intro-section {
  display: flex;
  margin-top: 200px;
  justify-content: center;
}
